@page "{handler?}"
@using PizzaStore.Data
@using System.Globalization
@using PizzaStore.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza Store</title>
    <script defer src="js/main.js"></script>
</head>
<body>
    <h1>Pizza Store</h1>
<button onclick="openConnection()" style="margin-right: 60%">Upgrade Connection</button>
<div class="left" style="float: left; width:  50%;">

@if (!Model.Order) {
    <form method="post" asp-page-handler="Customer">
        <label for="Name">Naam:
            <input asp-for="Name">
        </label>
        <br>
        <label for="Street">Straatnaam:
            <input asp-for="Street">
        </label>
        <br>
        <label for="HouseNumber">Straatnummer:
            <input asp-for="HouseNumber">
        </label>
        <br>
        <label for="ZipCode">Postcode:
            <input asp-for="ZipCode">
        </label>
        <br>
        <label for="Town">Woonplaats:
            <input asp-for="Town">
        </label>
        <br>
        <input type="submit" value="Verder">
    </form>
} else  {
    <form method="post" asp-page-handler="AddPizza">
        <label for="PizzaName">Selecteer een pizza:
            <select asp-for="PizzaName">
                @foreach (int pizzaName in Enum.GetValues(typeof(PizzaName))) {
                    <option value="@pizzaName">@Enum.GetName(typeof(PizzaName), pizzaName)</option>
                }
            </select>
            <br>
            @foreach (int topping in Enum.GetValues(typeof(ToppingNames))) {
                <input name="ExtraToppings[@topping].ToppingName" type="hidden" value="@topping"/>
                <input name="ExtraToppings[@topping].Add" type="checkbox" value="true"/>@Enum.GetName(typeof(ToppingNames), topping)
                <input name="ExtraToppings[@topping].Amount" type="number" value="1"/>
                <br>
            }
        </label>
        <br>
        <label for="Amount">Aantal pizzas:
            <input type="number" name="amount" id="Amount" value="1">
        </label>
        <input type="submit" value="Toevoegen">
    </form>
}
</div>

@if (Model.Order) {
    <div class="right" style="float: right; width:  50%;">
        <h1>Bestellingoverzicht</h1>
        <p>Bezorgen bij: @Model.CurrentOrder.OrderCustomer.ToString()</p>
        @foreach (PizzaAmount pizzaAmount in Model.CurrentOrder.Pizzas) {
            <p>@pizzaAmount.Amount @pizzaAmount.PizzaType.ToString()</p>
        }
        <p>Besteld op: @Model.CurrentOrder.TimeOfOrder.ToString(CultureInfo.CurrentCulture)</p>
    </div>
}
</body>
</html>